= semantic_form_for [@pedido] do |form|
  
  = form.input :data, :label => 'Data'
  = form.input :hora, :label => 'Hora' 
  = form.input :cliente, :member_label => :nome, :label => 'Cliente' 
  = form.submit 'Salvar'

