<h1>Listando Itens</h1>

<table>
  <thead>
    <tr>
      <th>Quantidade</th>
      <th>Produto</th>
      <th>Pedido</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.quantidade %></td>
        <td><%= item.produto.nome %></td>
        <td><%= item.pedido.cliente.nome %>, <%= item.pedido.data %>, <%= item.pedido.hora %></td>
        <td><%= link_to 'Exibir', item %></td>
        <td><%= link_to 'Editar', edit_item_path(item) %></td>
        <td><%= link_to 'Excluir', item, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Item', new_item_path %>
